<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    
    <title>Sign Up Business Account</title>
</head>
<body>
    <div class="signup">
        <h1>Sign Up</h1>
        <h4>It's free and only takes a minute</h4>
        <form action="/Business_Register" method="post">
            <label for="">Username</label>
            <input type="text" placeholder="username" name="username" required>
            <label for="">Email</label>
            <input type="email" placeholder="email" name="email" required>
            <label for="">Password</label>
            <input type="password" placeholder="password" name="password" required>
            <input type="submit" name="" value="Submit">
        </form>
        <p>By clicking the Sign Up button,you agree to our <br>
        <a href="">Terms and Condition</a> and <a href="">Policy privacy</a>
    </p>
        <p>Already have an account <a href="/Business_login">Login Here</a>
        </p>
    </div>

</body>
</html>
