
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login Business Account</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <h4>Its free and only takes a minute</h4>
        <form action="/Business_login" method="post">
            <label for="">Username</label>
            <input placeholder="username" type="text" name="username" required>
            <label for="">Password</label>
            <input placeholder="password" type="password" name="password" required>
            <input type="submit" name="" value="Submit">
        </form>
        <p>Not have an account <a href="/Business_register">Sign Up here</a></p>
    </div>
</body>
</html>