<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
<link rel="stylesheet" href="/stylesheets/FrontPage.css"> 

<title>Users Profile</title>
</head>
<body>
    <nav>
        <div class="logo">
            <i class='bx bx-menu menu-icon'></i>
            <span class="logo-name">LocalBizz</span>
        </div>
            <div id="navbar-right">
                    <a href="#Services">User Profiles</a>
                    <a href="#foot">Contacts </a>
            </div>
        <div class="sidebar">
            <div class="logo">
                <i class='bx bx-menu menu-icon'></i>
                <span class="logo-name">LocalBizz</span>
            </div>
            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a href="/Bakery_and_Cakes_Shop" class="nav-link">
                            <i class='bx bx-cake icon'></i>
                    <span class="link">Bakery and Cake Shop</span></a></li>
                    <li class="list">
                        <a href="/Mehandi_Artist" class="nav-link">
                            <i class='bx bxs-face icon'></i>
                    <span class="link">Mehandi Artist</span></a></li>
                    <li class="list">
                        <a href="/Home_Cooked_Food_Services" class="nav-link">
                            <i class='bx bx-restaurant icon'></i>
                    <span class="link">Home Cooked Food services</span></a></li>
                    <li class="list">
                        <a href="/Photography_Services" class="nav-link">
                            <i class='bx bx-camera-movie icon'></i>
                    <span class="link">Photography Services</span></a></li>
                    <li class="list">
                        <a href="/Laundry_Services" class="nav-link">
                            <i class='bx bxs-washer icon'></i>
                    <span class="link">Laundry Services</span></a></li>
                    <li class="list">
                        <!-- <a href="#" class="nav-link">
                            <i class='bx bxs-bowl-rice icon' ></i>
                    <span class="link">Local Eateries</span></a></li> -->
                    <li class="list">
                        <a href="/Tutoring_Services" class="nav-link">
                            <i class='bx bx-book-reader icon'></i>
                    <span class="link">Tutoring Services</span></a></li>
                    <li class="list">
                        <a href="/Plumbing_Services" class="nav-link">
                            <i class='bx bx-wrench icon'></i>
                    <span class="link">Plumbing Services</span></a></li>
                    <!-- <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bx-bulb icon'></i>
                    <span class="link">Electical Services</span></a></li> -->
                </ul>
                <div class="bottom-content">
                    <li class="list">
                        <a href="/profile" class="nav-link">
                            <i class='bx bxs-user-account icon'></i>
                    <span class="link">My Profile</span></a></li>
                    <li class="list">
                        <a href="/logout" class="nav-link">
                            <i class='bx bx-log-out icon'></i>
                    <span class="link">Logout</span></a></li>
                </div>
            </div>
        </div>
    </nav>
    <div class="screen"><img src="/images/index/pagephoto3.jpeg" alt=""></div>
    <div id="Services">
        <h2 id="grad">User Profiles</h2>
        <div class="flex-container">
            <div class="flex-item">
                <a href="/Bakery_and_Cakes_Shop"><img src="/images/itemPhoto/Eggless-Pineapple-pastry.jpg" alt=""></a>
                <div class="con">
                    <h4><a href="/Bakery_and_Cakes_Shop">Bakery and Cake Shops</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            <div class="flex-item">
                <a href="/Mehandi_Artist"><img src="/images/itemPhoto/image10.webp" alt=""></a>
                <div class="con">
                    <h4><a href="/Mehandi_Artist">Mehandi Artist</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            <div class="flex-item">
                <a href="/Home_Cooked_Food_Services"><img src="/images/itemPhoto/Indian-Menu.jpg" alt=""></a>
                <div class="con">
                    <h4><a href="/Home_Cooked_Food_Services">Home Cooked Food services</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            <div class="flex-item">
                <a href="/Photography_Services"><img src="/images/itemPhoto/photo1.png" alt=""></a>
                <div class="con">
                    <h4><a href="/Photography_Services">Photography Services</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            <div class="flex-item">
                <a href="/Laundry_Services"><img src="/images/itemPhoto/laundry7.jpg" alt=""></a>
                <div class="con">
                    <h4><a href="/Laundry_Services">Laundry Services</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            <div class="flex-item">
                <a href="/Tutoring_Services"><img src="/images/itemPhoto/child5.jpg" alt=""></a>
                <div class="con">
                    <h4><a href="/Tutoring_Services">Tutoring Services</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            <div class="flex-item">
                <a href="/Plumbing_Services"><img src="/images/itemPhoto/service3.jpg" alt=""></a>
                <div class="con">
                    <h4><a href="/Plumbing_Services">Plumbing Services</a></h4>
                    <div class="stars"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half' ></i></div><hr>
                    <div class="emoji"><a href=""><i class='bx bx-bulb' ></i></a><a href=""><i class='bx bx-happy-beaming'></i></a><a href=""><i class='bx bx-happy-heart-eyes'></i></a></div>
                </div>
            </div>
            </div>

            </div>
    </div>
    <footer>
        <Div id="foot" class="foot1">
            <h3>About Us</h3>
            <div class="first">
                <h4>Carrers</h4>
                <h4>Privacy Policy</h4>
                <h4>Terms and Service</h4>
                <h4>Investor Relations</h4>
            </div>
        </Div>
        <Div id="foot" class="foot2">
            <h3>Quick Links</h3>
            <div class="second">
                <h5><a href="/">Home</a></h5>
                <h5><a href="/FrontPage">Front</a></h5>
                <h5><a href="#Services">Users</a></h5>
                <!-- <h5><a href="#">Profiles</a></h5> -->
            </div>
        </Div>
        <Div id="foot" class="foot3">
            <h3>Contact Us</h3>
            <div class="third">
                <h6><i class='bx bxs-envelope-open' style='color:#3290f2' ></i>
                    <a href="mailTo:"> Email</a></h6>
                <h6><i class='bx bx-phone-call' style='color:#0c0c0d'  ></i>
                    <a href="tel:"> Phone</a></h6>
                <h6><i class='bx bxl-whatsapp-square' style='color:#1ae363'></i>
                    <a href=""> Whatsapp</a></h6>
                <h6><i class='bx bxl-twitter' style='color:#2962ff'  ></i>
                    <a href=""> Twitter</a></h6>
            </div>
        </Div>
    </footer>
    <selection class="overlay"></selection>
    <script>
        const navBar=document.querySelector("nav"),
menuBtns=document.querySelectorAll(".menu-icon"),
overlay=document.querySelector(".overlay");
// console.log(navbar,menuBtns,overlay);
menuBtns.forEach((menuBtn) =>{
    menuBtn.addEventListener("click",()=> {
        navBar.classList.toggle("open");
    });
});
overlay.addEventListener("click",()=>{
    navBar.classList.remove("open");
});
    </script>
</body>
</html>