<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
    <title>LocalBizz</title>
</head>
<body>
    <div class="holecode">
    <nav>
        <div id="navbar" class="three1"><h1>LocalBizz</h1></div>
        <div id="navbar" class="three2">
            <a href="#Quotes">About</a>
            <a href="#localservice">Service</a>
            <a href="#Footers">Contact Us</a>
        </div>
        <div id="navbar" class="three3"><a href="/Business_register"><button>SignUp/Login</button></a></div>
    </nav> 
    <div class="intro">
        <p>Welcome to LocalBizz</p>
        <p>Connecting Locals, Empowering Bussiness!</p>
        <img src="/images/index/Local bizz image.png" alt="">
    </div>
    <div class="options">
        <a href="#Quotes">Local Excellence</a>
        <a href="#dis">Smart Connect</a>
        <a href="#localservice">Reliable Services</a>
    </div>
    <div id="Quotes" class="quote">
        <p class="para1">LOCAL CONNECT</p>
        <p class="para2">"Where Quality Meets Convenience!"</p>
        <p class="para3">Amplify Reach Enhance Customer Connections and fuel Bussiness Growth!</p></div>
        <div class="localconnect">
            <div class="textcontent">
                <div id="texcon" class="textcontent1"><p class="num">01</p>
                <p><h2>Discover Local Excellence</h2></p>
                <p>It emphasises the focus on showcasting the excellent local services available enoughing users to discover what their community has to offer.</p></div>
                <div id="texcon" class="textcontent2"><p class="num">02</p>
                <p><h2>Seamless Connections, Trusted Experiences</h2></p>
                <p>It highlights the commitment to facilitating seamless connections
                    between bussiness and clients, ensuring trusted and reliable experiences 
                    for all users.</p></div>
                <div id="texcon" class="textcontent3"><p class="num">03</p>
                <p><h2>Your Neighbourhood, Your Services</h2></p>
                <p>It emphasizes the local aspect, reminding users that it is tailored 
                    to their neighbourhood, providing a platform fot local businesses to thrive and 
                    serve the community effectively.</p></div>
            </div>
            <div class="imgage"><img src="/images/index/vectorbussiness.png" alt=""></div>
        </div>
        <div id="dis" class="discover">
            <h3>"Discover Our Services: <br>Simple,Reliable,Local"</h3>
            <div class="service">
                <div id="containers" class="con1"><img src="/images/index/schedular.png" alt=""><h6>Schedular</h6><p>
                    Schedule Appointments and keeps you notified.
                 </p></div>
                <div id="containers" class="con2"><img src="/images/index/gps.png" alt=""><h6>GPS</h6><p>
                    Provides location access which give you best services
                    available nearby.
                  </p></div>
                <div id="containers" class="con3"><img src="/images/index/save.png" alt=""><h6>Save More</h6><p>
                    From discounts to  exclusive promotions and deals,
                    we prioritize affordability without compromising on quality.
                  </p></div>
            </div>
        </div>
        <div class="local">
            <div id="localservice" class="localserv1">
                <div class="localimage">
                    <img src="/images/index/image3.png" alt="">
                </div>
            </div>
            <div id="localservice" class="localserv2">
                <h3>Local Services Offered:</h3>
                <div class="locallist">
                    <div class="col1">
                        <div><h2>Mehandi Artistry</h2>
                            <p>
                                Creative and intricate designs for various occasions.
                              </p>
                        </div>
                        <div><h2>Home Cooked food services</h2>
                            <p>
                                Delicious homemade meals and snacks for busy induviduals.
                              </p>
                        </div>
                    </div>
                    <div class="col2">
                        <div><h2>Electric and Plumbing</h2>
                            <p>
                                Provides Electric and Plumbing Services on a single click. 
                              </p>
                        </div>
                        <div><h2>Tutoring Servicies</h2>
                            <p>
                                Academic tutoring and skill development 
                                classes ffor various subjects and activities.
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foo">
            <h3>The Founders</h3>
            <div class="founders">
                <div id="found" class="f3"><img src="/images/index/priyankaicon.png" alt=""><h2>Priyanka Sonawane</h2>Mumbai</div>
                <div id="found" class="f1"><img src="/images/index/dhanashreeicon.webp" alt=""><h2>Dhanashree Deshmukh</h2>Mumbai</div>
                <div id="found" class="f2"><img src="/images/index/asthaicon.png" alt=""><h2>Astha Budhavale</h2>Mumbai</div>
                <div id="found" class="f4"><img src="/images/index/vrushabhicon.png" alt=""><h2>Vrushabh Udeg</h2>Mumbai</div>
            </div>
        </div>
        <footer id="Footers" class="footer">  
              <div class="footer__col">
                <h4>CONTACT</h4>
                <h4>SUPPORT</h4>
                <h4>Media</h4>
                <h4>Socials</h4>
               
                <div class="media-icons">
                  <!--HERE ARE BUTTONS OF INSTAGRAM,FB,TWITTER-->
                  <a href="#"><i class='bx bxl-instagram' style='color:#fdf8f8'  ></i></a>
                  <a href="#"><i class='bx bxl-facebook'style='color:#fdf8f8' ></i></a>
                  <a href="#"><i class='bx bxl-twitter'style='color:#fdf8f8' ></i></a>
                  
              </div>
              </div>
            
            <div class="footer__bar">
              <p>Copyright © 2023 Web Design Mastery. All rights reserved.</p>
              
                  
            </div>
          </footer>
      
    </div>
</body>
</html>