<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Profile.css">
  <title>Upload</title>
</head>
<body>
  <div class="profile-container">
  <div class="profile-header">
    <!-- <a class="text-sm text-blue-500" href="/profile"><i class="ri-arrow-left-s-line"></i> profile</a> -->
    <h1 class="leading-none text-sm">Upload Here</h1>
    <!-- <a class="text-sm" href="/FrontPage"><i class="ri-home-line"></i> home</a> -->
  </div>
   <div class="profile-info">
      <!-- <i class="text-5xl font-light ri-image-line"></i> -->
       <button id="selectpic" class="edit-button">select picture</button>
  </div> 
<div class="profile-info">
  <form id="uploadform" action="/uploadPlumbing" enctype="multipart/form-data" method="post">
      <input hidden type="file" name="image">
      <input type="text" name="phone"placeholder="phone" >
      <input type="text" name="email"placeholder="email">
      <input type="text" name="username"placeholder="username">
      <input type="text" name="name"placeholder="name">
      <input type="text" name="opensUntil"placeholder="opensUntil">
      <input name="caption" placeholder="Write a caption...">
      <input type="text" name="location"placeholder="give http location">
      <br>
      <input style="padding:0px 5px;" class="edit-button" type="submit" value="Post">
  </form>
</div>
</div>
<script>
  document.querySelector("#selectpic")
  .addEventListener("click", function(){
      document.querySelector("#uploadform input").click();
  });
</script>
</body>
</html>